<a href="https://colab.research.google.com/github/Ygrick/colab/blob/main/%D0%9A%D0%B8%D0%BD%D0%BE%D0%BF%D0%BE%D0%B8%D1%81%D0%BA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Ромайкин Игорь Дмитриевич
### ФПИИТ-03-21

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('kinopoisk.csv')
mapping = {
    'film-item-rating-position__position': 'position',
    'selection-film-item-poster__rating': 'poster_rating',
    'selection-film-item-meta__name': 'name',
    'rating__value': 'rating_value',
    'rating__count': 'rating_count',
}
df.rename(mapper=mapping, inplace=True, axis=1)
df

     position  poster_rating  ... rating_value  rating_count
0           1            9.1  ...          8.9       701 104
1           2            9.1  ...          8.9       790 958
2           3            8.6  ...          8.8       488 761
3           4            8.6  ...          8.8       476 404
4           5            8.6  ...          8.8       527 358
..        ...            ...  ...          ...           ...
245       246            7.7  ...          8.0       424 314
246       247            7.9  ...          8.0        21 625
247       248            8.0  ...          8.0        71 204
248       249            7.8  ...          8.0       350 411
249       250            8.2  ...          8.0       128 685

[250 rows x 5 columns]

In [ ]:
from scipy.stats import mannwhitneyu

In [ ]:
_, pvalue = mannwhitneyu(df['poster_rating'], df['rating_value'])
print("Результат критерия Манна-Уитни:")
print("p-value =", pvalue)

Результат критерия Манна-Уитни:
p-value = 0.44556711927309073

 pvalue=0.445 > 0.05 
 нулевая гипотеза выполняется, статистической разницы в рейтингах нет