In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('ECDCCases.csv')
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
4,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
...,...,...,...,...,...,...,...,...,...,...,...,...
61899,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61900,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61901,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61902,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61903,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [5]:
# Проверить в данных наличие пропущенных значений.
df.isna().sum()

dateRep                                                          0
day                                                              0
month                                                            0
year                                                             0
cases                                                            0
deaths                                                           0
countriesAndTerritories                                          0
geoId                                                          275
countryterritoryCode                                           123
popData2019                                                    123
continentExp                                                     0
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000    2879
dtype: int64

In [6]:
# Вывести количество пропущенных значений в процентах. 
df_of_nulls = pd.DataFrame({
    'name_column': [item for item in df.isna().keys()],
    'values of nulls %': [str(round(df.isna().sum()[item]*100/len(df),5)) + '%' for item in df.isna().keys()],
    })
df_of_nulls

                                          name_column values of nulls %
0                                             dateRep              0.0%
1                                                 day              0.0%
2                                               month              0.0%
3                                                year              0.0%
4                                               cases              0.0%
5                                              deaths              0.0%
6                             countriesAndTerritories              0.0%
7                                               geoId          0.44424%
8                                countryterritoryCode          0.19869%
9                                         popData2019          0.19869%
10                                       continentExp              0.0%
11  Cumulative_number_for_14_days_of_COVID-19_case...          4.65075%

In [7]:
# Удалить два признака, в которых больше всех пропущенных значений
df.drop(
    df_of_nulls.sort_values('values of nulls %', ignore_index=True)['name_column'][-2:], 
    axis=1,
    inplace=True
    )
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
0,14/12/2020,14,12,2020,746,6,Afghanistan,AFG,38041757.0,Asia
1,13/12/2020,13,12,2020,298,9,Afghanistan,AFG,38041757.0,Asia
2,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
3,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
4,11/12/2020,11,12,2020,63,10,Afghanistan,AFG,38041757.0,Asia
...,...,...,...,...,...,...,...,...,...,...
61899,25/03/2020,25,3,2020,0,0,Zimbabwe,ZWE,14645473.0,Africa
61900,24/03/2020,24,3,2020,0,1,Zimbabwe,ZWE,14645473.0,Africa
61901,23/03/2020,23,3,2020,0,0,Zimbabwe,ZWE,14645473.0,Africa
61902,22/03/2020,22,3,2020,1,0,Zimbabwe,ZWE,14645473.0,Africa
61903,21/03/2020,21,3,2020,1,0,Zimbabwe,ZWE,14645473.0,Africa

In [8]:
# Для оставшихся признаков обработать пропуски
for item in df.keys():
  if df.dtypes[item] == object:
    df[item].fillna('other',
                    inplace=True)
  else:
    df[item].fillna(df[item].median(),
                    inplace=True)

In [9]:
# Показать, что пропусков больше в данных нет.
df.isna().sum()

dateRep                    0
day                        0
month                      0
year                       0
cases                      0
deaths                     0
countriesAndTerritories    0
countryterritoryCode       0
popData2019                0
continentExp               0
dtype: int64

In [10]:
# Посмотреть статистику по данным, используя describe(). 
# Сделать выводы о том, какие признаки содержат выбросы.
df.describe() # cases	deaths содержат выборсы

,day,month,year,cases,deaths,popData2019
count,61904.000000,61904.000000,61904.000000,61904.000000,61904.000000,6.190400e+04
mean,15.629232,7.067104,2019.998918,1155.079026,26.053987,4.091909e+07
std,8.841624,2.954816,0.032881,6779.010824,131.222948,1.529798e+08
min,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02
25%,8.000000,5.000000,2020.000000,0.000000,0.000000,1.324820e+06
50%,15.000000,7.000000,2020.000000,15.000000,0.000000,7.169456e+06
75%,23.000000,10.000000,2020.000000,273.000000,4.000000,2.851583e+07
max,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09

In [11]:
# Посмотреть, для каких стран количество смертей в день превысило 3000 
df[df['deaths']>3000]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
2118,02/10/2020,2,10,2020,14001,3351,Argentina,ARG,44780675.0,America
16908,07/09/2020,7,9,2020,-8261,3800,Ecuador,ECU,17373657.0,America
37038,09/10/2020,9,10,2020,4936,3013,Mexico,MEX,127575529.0,America
44888,14/08/2020,14,8,2020,9441,3935,Peru,PER,32510462.0,America
44909,24/07/2020,24,7,2020,4546,3887,Peru,PER,32510462.0,America
59007,12/12/2020,12,12,2020,234633,3343,United_States_of_America,USA,329064917.0,America
59009,10/12/2020,10,12,2020,220025,3124,United_States_of_America,USA,329064917.0,America
59016,03/12/2020,3,12,2020,203311,3190,United_States_of_America,USA,329064917.0,America
59239,24/04/2020,24,4,2020,26543,3179,United_States_of_America,USA,329064917.0,America
59245,18/04/2020,18,4,2020,30833,3770,United_States_of_America,USA,329064917.0,America
59247,16/04/2020,16,4,2020,30148,4928,United_States_of_America,USA,329064917.0,America

In [12]:
# сколько таких дней было.
df['countriesAndTerritories'][df['deaths']>3000].value_counts()

United_States_of_America    6
Peru                        2
Argentina                   1
Ecuador                     1
Mexico                      1
Name: countriesAndTerritories, dtype: int64

In [13]:
# Найти дублирование данных
df[df.duplicated() == True]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
3,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
218,12/05/2020,12,5,2020,285,2,Afghanistan,AFG,38041757.0,Asia
48010,29/05/2020,29,5,2020,0,0,Saint_Lucia,LCA,182795.0,America
48073,28/03/2020,28,3,2020,0,0,Saint_Lucia,LCA,182795.0,America

In [14]:
# Удалить дубликаты.
df.drop_duplicates(ignore_index=True, inplace=True)
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
0,14/12/2020,14,12,2020,746,6,Afghanistan,AFG,38041757.0,Asia
1,13/12/2020,13,12,2020,298,9,Afghanistan,AFG,38041757.0,Asia
2,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
3,11/12/2020,11,12,2020,63,10,Afghanistan,AFG,38041757.0,Asia
4,10/12/2020,10,12,2020,202,16,Afghanistan,AFG,38041757.0,Asia
...,...,...,...,...,...,...,...,...,...,...
61895,25/03/2020,25,3,2020,0,0,Zimbabwe,ZWE,14645473.0,Africa
61896,24/03/2020,24,3,2020,0,1,Zimbabwe,ZWE,14645473.0,Africa
61897,23/03/2020,23,3,2020,0,0,Zimbabwe,ZWE,14645473.0,Africa
61898,22/03/2020,22,3,2020,1,0,Zimbabwe,ZWE,14645473.0,Africa
61899,21/03/2020,21,3,2020,1,0,Zimbabwe,ZWE,14645473.0,Africa

5. Загрузить данные из файла “ bmi.csv”. Взять оттуда две выборки. Одна
выборка – это индекс массы тела людей c региона northwest, вторая выборка –
это индекс массы тела людей с региона southwest. Сравнить средние значения
этих выборок, используя t-критерий Стьюдента. Предварительно проверить
выборки на нормальность (критерий Шопиро-Уилка) и на гомогенность
дисперсии (критерий Бартлетта).

In [15]:
df_bmi = pd.read_csv('bmi.csv')
df_bmi

        bmi     region
0    22.705  northwest
1    28.880  northwest
2    27.740  northwest
3    25.840  northwest
4    28.025  northwest
..      ...        ...
645  20.600  southwest
646  38.600  southwest
647  33.400  southwest
648  44.700  southwest
649  25.800  southwest

[650 rows x 2 columns]

In [16]:
df_bmi_northwest = df_bmi[df_bmi['region'] == 'northwest'].reset_index(drop=True)
df_bmi_northwest

        bmi     region
0    22.705  northwest
1    28.880  northwest
2    27.740  northwest
3    25.840  northwest
4    28.025  northwest
..      ...        ...
320  26.315  northwest
321  31.065  northwest
322  25.935  northwest
323  30.970  northwest
324  29.070  northwest

[325 rows x 2 columns]

In [17]:
df_bmi_southwest = df_bmi[df_bmi['region'] == 'southwest'].reset_index(drop=True)
df_bmi_southwest

      bmi     region
0    27.9  southwest
1    34.4  southwest
2    24.6  southwest
3    40.3  southwest
4    35.3  southwest
..    ...        ...
320  20.6  southwest
321  38.6  southwest
322  33.4  southwest
323  44.7  southwest
324  25.8  southwest

[325 rows x 2 columns]

In [18]:
import scipy.stats as sts

In [19]:
res_northwest = sts.shapiro(df_bmi_northwest['bmi'])
res_southwest = sts.shapiro(df_bmi_southwest['bmi'])
print(res_northwest)
print(res_southwest)
# Тест дает p-значение выше 0.05, следовательно, выборки имеют нормальное распределение.

ShapiroResult(statistic=0.9954643249511719, pvalue=0.46545225381851196)
ShapiroResult(statistic=0.994927167892456, pvalue=0.3630009591579437)

In [20]:
sts.bartlett(df_bmi_northwest['bmi'], df_bmi_southwest['bmi'])
# p-уровень превышает 0.05, следовательно, дисперсии выборок схожи

BartlettResult(statistic=3.4000745256459286, pvalue=0.06519347353581818)

In [21]:
sts.ttest_ind(df_bmi_northwest['bmi'], df_bmi_southwest['bmi'])
# p-значение ниже 0.05, нулевая гипотеза отвергается, средние значения выборок различны

Ttest_indResult(statistic=-3.2844171500398582, pvalue=0.001076958496307695)

6. Кубик бросили 600 раз, получили следующие результаты:

    N Количество выпадений

    1 97

    2 98

    3 109

    4 95

    5 97

    6 104
  
  С помощью критерия Хи-квадрат проверить, является ли полученное распределение равномерным. Использовать функцию scipy.stats.chisquare().

In [22]:
df_cube = pd.DataFrame({
    'N': range(1,7),
    'Observed': [97, 98, 109, 95, 97, 104],
    'Expected': [100]*6
})
df_cube

   N  Observed  Expected
0  1        97       100
1  2        98       100
2  3       109       100
3  4        95       100
4  5        97       100
5  6       104       100

In [23]:
sts.chisquare(df_cube['Expected'], df_cube['Observed'])

Power_divergenceResult(statistic=1.3865066514779323, pvalue=0.925783590265293)

7. С помощью критерия Хи-квадрат проверить, являются ли переменные
зависимыми. 

  Использовать функцию scipy.stats.chi2_contingency(). 

  Влияет ли семейное положение на занятость?

In [24]:
data = pd.DataFrame({'Женат': [89,17,11,43,22,1],
                     'Гражданский брак': [80,22,20,35,6,4],
                     'Не состоит в отношениях': [35,44,35,6,8,22]
                     })
data.index = ['Полный рабочий день',
              'Частичная занятость',
              'Временно не работает',
              'На домохозяйстве',
              'На пенсии',
              'Учёба'
              ]
data

                      Женат  Гражданский брак  Не состоит в отношениях
Полный рабочий день      89                80                       35
Частичная занятость      17                22                       44
Временно не работает     11                20                       35
На домохозяйстве         43                35                        6
На пенсии                22                 6                        8
Учёба                     1                 4                       22

In [25]:
chi2, p_value, dof = sts.chi2_contingency(data)[:3]
print(f' статистика: {chi2} \n p-value: {p_value} \n степени свободы: {dof}')
# Влияет ли семейное положение на занятость? -> p-value < 0.05 -> да, влияет

 статистика: 122.29654948595365
 p-value: 1.7291616900960234e-21
 степени свободы: 10

# дальше бред

In [26]:
data.transpose()

,Полный рабочий день,Частичная занятость,Временно не работает,На домохозяйстве,На пенсии,Учёба
Женат,89,17,11,43,22,1
Гражданский брак,80,22,20,35,6,4
Не состоит в отношениях,35,44,35,6,8,22

In [27]:
res1 = sts.shapiro(data.transpose()['Полный рабочий день'])
res2 = sts.shapiro(data.transpose()['Частичная занятость'])
print(res1)
print(res2)
# Тест дает p-значение выше 0.05, следовательно, выборки имеют нормальное распределение.
print(sts.bartlett(res1, res2))
# p-уровень превышает 0.05, следовательно, дисперсии выборок примерно одинаковы
print(sts.ttest_ind(res1, res2))
# p-значение намного выше 0.05, выборки схожи между собой -> семейное положение НЕ влияет на занятость

ShapiroResult(statistic=0.8709678053855896, pvalue=0.2982749938964844)
ShapiroResult(statistic=0.8832794427871704, pvalue=0.3340968191623688)
BartlettResult(statistic=0.001171093800051537, pvalue=0.972700723179506)
Ttest_indResult(statistic=-0.06066275405029272, pvalue=0.9571443639868565)

In [28]:
res1 = sts.shapiro(data.transpose()['Полный рабочий день'])
res2 = sts.shapiro(data.transpose()['Временно не работает'])
print(res1)
print(res2)
# Тест дает p-значение выше 0.05, следовательно, выборки имеют нормальное распределение.
print(sts.bartlett(res1, res2))
# p-уровень превышает 0.05, следовательно, дисперсии выборок примерно одинаковы
print(sts.ttest_ind(res1, res2))
# p-значение выше 0.05, выборки схожи между собой -> семейное положение НЕ влияет на занятость

ShapiroResult(statistic=0.8709678053855896, pvalue=0.2982749938964844)
ShapiroResult(statistic=0.9795919060707092, pvalue=0.7262256145477295)
BartlettResult(statistic=0.401495636854549, pvalue=0.5263178569140836)
Ttest_indResult(statistic=-0.8568250899276822, pvalue=0.48181949789941725)

In [29]:
res1 = sts.shapiro(data.transpose()['Временно не работает'])
res2 = sts.shapiro(data.transpose()['На домохозяйстве'])
print(res1)
print(res2)
# Тест дает p-значение выше 0.05, следовательно, выборки имеют нормальное распределение.
print(sts.bartlett(res1, res2))
# p-уровень превышает 0.05, следовательно, дисперсии выборок примерно одинаковы
print(sts.ttest_ind(res1, res2))
# p-значение выше 0.05, выборки схожи между собой -> семейное положение НЕ влияет на занятость

ShapiroResult(statistic=0.9795919060707092, pvalue=0.7262256145477295)
ShapiroResult(statistic=0.9030343294143677, pvalue=0.3952256441116333)
BartlettResult(statistic=0.2992237399915852, pvalue=0.5843694757545216)
Ttest_indResult(statistic=0.7181542832802579, pvalue=0.5472229595829451)

In [30]:
res1 = sts.shapiro(data.transpose()['Частичная занятость'])
res2 = sts.shapiro(data.transpose()['Учёба'])
print(res1)
print(res2)
# Тест дает p-значение выше 0.05, следовательно, выборки имеют нормальное распределение.
print(sts.bartlett(res1, res2))
# p-уровень превышает 0.05, следовательно, дисперсии выборок примерно одинаковы
print(sts.ttest_ind(res1, res2))
# p-значение выше 0.05, выборки схожи между собой -> семейное положение НЕ влияет на занятость

ShapiroResult(statistic=0.8832794427871704, pvalue=0.3340968191623688)
ShapiroResult(statistic=0.854651153087616, pvalue=0.25296875834465027)
BartlettResult(statistic=0.005549264177656592, pvalue=0.9406178057835521)
Ttest_indResult(statistic=0.13473141121638127, pvalue=0.9051599306460445)